<div class="party-conteiner">
  <div class="player one">
    <div> Huskar </div>
    <div> Level: 1 </div>
    <div> Exp: 0/100 </div>
    <div> HP: 100/100 </div>
    <div> Strength:  </div>
    <div> Intelligence : </div>
    <div> Speed: </div>
  </div>
  <div class="player two">
    <div> Huskar </div>
    <div> Level: 1 </div>
    <div> Exp: 0/100 </div>
    <div> HP: 100/100 </div>
    <div> Strength:  </div>
    <div> Intelligence : </div>
    <div> Speed: </div>
  </div>
  <div class="player three">
    <div> Huskar </div>
    <div> Level: 1 </div>
    <div> Exp: 0/100 </div>
    <div> HP: 100/100 </div>
    <div> Strength:  </div>
    <div> Intelligence : </div>
    <div> Speed: </div>
  </div>
  <div class="player four">
    <div> Huskar </div>
    <div> Level: 1 </div>
    <div> Exp: 0/100 </div>
    <div> HP: 100/100 </div>
    <div> Strength:  </div>
    <div> Intelligence : </div>
    <div> Speed: </div>
  </div>
</div>
